.btn{
padding:12px 22px;
border:none;
border-radius:12px;
cursor:pointer;
font-size:16px;
transition:.3s;
font-weight:600;
}

.primary{
background:#6366F1;
color:white;
}

.primary:hover{
background:#4F46E5;
}

.secondary{
background:#E5E7EB;
color:#111827;
}

.secondary:hover{
background:#CBD5E1;
}

.btn:disabled{
opacity:.5;
cursor:not-allowed;
}